.footer
{text-align: center;}
.sideGray{
  background-color: #eeeeee;
}



.greenbutton{
  color:green;
  background-color: #eeeeee;
  border: none;
  text-align: center;
}
.profilebutton.webix_el_button button, .profilebutton.webix_el_button button span,
.profilebutton.webix_el_button button .webix_icon_btn{
  color: white;
  background-color: #657584;
}