.footer
{text-align: center;}
.sideGray{
  background-color: #eeeeee;
}

.hoverLine{
  
  background-color: #f4f5f9;
}
.grayColumn{
  
  background-color: #f4f5f9;
}

.greenbutton{
  color:green;
  background-color: #eeeeee;
  border: none;
  text-align: center;
}

.removeUser{
  float: right;
}